{:paths ["resources"],
 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build #:mvn{:version "0.10.13"},
    slipset/deps-deploy #:mvn{:version "0.2.2"}},
   :ns-default build},
  :neil
  {:project
   {:name com.outskirtslabs/vips-native-macos-aarch64,
    :description
    "Platform-native libvips bundle for vips (macos-aarch64)",
    :version "1.2.4-0"}}}}
