.DS_Store
.idea
.cpcache/
**/.claude/settings.local.json
.clj-kondo/
.lsp/
.nrepl-port
archive/
target/
.clojure-mcp
extra/
.direnv
*.log
result
.env
prompts/
*.md
!README.md
native/*/.cpcache/
native/*/resources/
native/*/target/
target/native-cache/
