{:tasks {:requires ([babashka.tasks :refer [shell]])
         repl      {:override-builtin true
                    :doc              "Run the dev REPL"
                    :task             (shell "clojure -M:repl/cider:dev --port 7888")}
         fmt       (shell "cljfmt check")
         fmt:fix   (shell "cljfmt fix .")
         lint      (shell (str "clj-kondo" " --fail-level error"
                               (if (seq *command-line-args*)
                                 (str " --lint " (first *command-line-args*))
                                 " --lint src --lint test")))
         clean     {:override-builtin true
                    :doc              "Clean build artifacts"
                    :task             (shell "clojure -T:build clean")}
         jar       {:override-builtin true
                    :depends          [clean]
                    :doc              "Build an jar"
                    :task             (shell "clojure -T:build jar")}
         test      {:doc  "Run JVM Clojure tests with kaocha"
                    :task (do (apply clojure {:extra-env {"TEST_SCI" "true"}}
                                     "-M:kaocha" *command-line-args*)
                              (clojure "-M -e \"(set! *warn-on-reflection* true) (require '[clj-vips.core] :reload) \""))}

         runner  (clojure "-M:dev:runner")
         publish {:doc     "Publish the clojure sdk libs to clojars"
                  :depends [jar]
                  :task    (doseq [dir sdk-lib-dirs]
                             (clojure {:dir dir} "-T:build deploy"))}}}
