{:paths   ["src"]
 :deps    {}
 :aliases {:kaocha {:extra-paths ["test"]
                    :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                    :main-opts   ["-m" "kaocha.runner"]}
           :dev    {:extra-paths ["dev"]
                    :extra-deps  {dev.weavejester/hashp                    {:mvn/version "0.5.1"}
                                  io.github.tonsky/clj-reload              {:mvn/version "1.0.0"}
                                  djblue/portal                            {:mvn/version "0.63.0"}
                                  com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.7.0"}}}
           :build  {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.13"}
                                 slipset/deps-deploy           {:mvn/version "0.2.2"}}
                    :ns-default build}
           :neil   {:project {:name        com.outskirtslabs/TODO
                              :url         "https://example.com/TODO"
                              :license     {:id "TODO"}
                              :description ""
                              :version     "0.0.TODO"}}}}
