{:vips-version "8.18.6",
 :bundle-sha256
 "4420d1967c3708346593878cb1b78a25719f0e3512a3daff3d0628fd309d98e4",
 :arch :aarch64,
 :source-url
 "https://registry.npmjs.org/@img/sharp-libvips-darwin-arm64/-/sharp-libvips-darwin-arm64-1.3.3.tgz",
 :libc nil,
 :sharp-version "1.3.3",
 :library-files ["lib/libvips-cpp.8.18.6.dylib"],
 :os :macos,
 :platform-id :macos-aarch64,
 :artifact-name "com.outskirtslabs/vips-native-macos-aarch64",
 :sharp-package "@img/sharp-libvips-darwin-arm64"}
