{:paths ["resources"],
 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build #:mvn{:version "0.10.13"},
    slipset/deps-deploy #:mvn{:version "0.2.2"}},
   :ns-default build},
  :neil
  {:project
   {:name com.outskirtslabs/vips-native-linux-aarch64-musl,
    :description
    "Platform-native bundle for com.outskirtslabs/vips (linux-aarch64-musl)",
    :license
    {:id "LGPL-3.0-or-later",
     :url "https://spdx.org/licenses/LGPL-3.0-or-later.html"},
    :notice-file "THIRD-PARTY-NOTICES.md",
    :version "1.2.4-1"}}}}
