{:vips-version "8.17.3",
 :bundle-sha256
 "73077525c737eb9e938d19603d388c88ddd38acff001d7eb137d524142fea4c4",
 :arch :x86-64,
 :source-url
 "https://registry.npmjs.org/@img/sharp-libvips-linux-x64/-/sharp-libvips-linux-x64-1.2.4.tgz",
 :libc :glibc,
 :sharp-version "1.2.4",
 :library-files ["lib/libvips-cpp.so.8.17.3"],
 :os :linux,
 :platform-id :linux-x86-64-gnu,
 :artifact-name "com.outskirtslabs/vips-native-linux-x86-64-gnu",
 :sharp-package "@img/sharp-libvips-linux-x64"}
