{:vips-version "8.18.3",
 :bundle-sha256
 "56dde56ff6ae6be876c2fa89a36f5d1dd08d8f5aa55d370811a10ee345c97e31",
 :arch :x86-64,
 :source-url
 "https://registry.npmjs.org/@img/sharp-libvips-linux-x64/-/sharp-libvips-linux-x64-1.3.2.tgz",
 :libc :glibc,
 :sharp-version "1.3.2",
 :library-files ["lib/libvips-cpp.so.8.18.3"],
 :os :linux,
 :platform-id :linux-x86-64-gnu,
 :artifact-name "com.outskirtslabs/vips-native-linux-x86-64-gnu",
 :sharp-package "@img/sharp-libvips-linux-x64"}
