{:vips-version "8.18.6",
 :bundle-sha256
 "5fb6ad9b27af941fdc407afc3ec074c9a8cda3a3b0d6fef9f1f292c1c0b985c3",
 :arch :x86-64,
 :source-url
 "https://registry.npmjs.org/@img/sharp-libvips-win32-x64/-/sharp-libvips-win32-x64-1.3.3.tgz",
 :libc nil,
 :sharp-version "1.3.3",
 :library-files ["lib/libvips-42.dll"],
 :os :windows,
 :platform-id :win32-x86-64,
 :artifact-name "com.outskirtslabs/vips-native-win32-x86-64",
 :sharp-package "@img/sharp-libvips-win32-x64"}
