{:vips-version "8.18.6",
 :bundle-sha256
 "16c642c67514fafd72655dbebe80d187dd2eab434d5f84c3c109f3e36aec2525",
 :arch :x86-64,
 :source-url
 "https://registry.npmjs.org/@img/sharp-libvips-linuxmusl-x64/-/sharp-libvips-linuxmusl-x64-1.3.3.tgz",
 :libc :musl,
 :sharp-version "1.3.3",
 :library-files ["lib/libvips-cpp.so.8.18.6"],
 :os :linux,
 :platform-id :linux-x86-64-musl,
 :artifact-name "com.outskirtslabs/vips-native-linux-x86-64-musl",
 :sharp-package "@img/sharp-libvips-linuxmusl-x64"}
