{:vips-version "8.18.3",
 :bundle-sha256
 "a538c34c9e5ef6047702978d4da9632ede316dc0efd1cb1f6274a2d411bfa5c1",
 :arch :x86-64,
 :source-url
 "https://registry.npmjs.org/@img/sharp-libvips-linuxmusl-x64/-/sharp-libvips-linuxmusl-x64-1.3.2.tgz",
 :libc :musl,
 :sharp-version "1.3.2",
 :library-files ["lib/libvips-cpp.so.8.18.3"],
 :os :linux,
 :platform-id :linux-x86-64-musl,
 :artifact-name "com.outskirtslabs/vips-native-linux-x86-64-musl",
 :sharp-package "@img/sharp-libvips-linuxmusl-x64"}
